<div id="about-us-container">
    <p>
        ГЕД ООД е семейна фирма с професионално управление,
        която предоставя пълни решения на своите клиенти.
        Започнахме преди повече от 20 години като малко студио за предпечат,
        позиционирано в едно таванско помещение в сграда, близо до хотел Хемус.
        Оттогава-досега сменихме няколко офиса на различни места,
        но запазихме желанието си да предоставяме на нашите клиенти най-доброто,
        на което сме способни. Запазихме и доизградихме фирмена култура,
        основана на разбирането ни, че бизнесът трябва да се основава на професионализъм,
        уважение и коректно отношение между страните, както и на стремеж към взаимна
        полезност и подкрепа.
    </p>
</div>








<!--<div class="form-container">-->
    <!--<img src="images/sippingHoney.jpg" alt="honey">-->
    <!--<form>-->
        <!--<h2>Свържете се с нас</h2>-->
        <!--<div>-->
            <!--<label for="email">Въведете вашата поща</label>-->
            <!--<div class="input-container">-->
                <!--<i class="fa fa-envelope"></i>-->
                <!--<input type="email" id="email" placeholder="Email"/>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div>-->
            <!--<label for="name">Въведете вашето име</label>-->
            <!--<div class="input-container">-->
                <!--<i class="fa fa-user"></i>-->
                <!--<input type="text" id="name" placeholder="Първо име"/>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div>-->
            <!--<label for="last-name">Въведете вашата фамилия</label>-->
            <!--<div class="input-container">-->
                <!--<i class="fa fa-user"></i>-->
                <!--<input type="text" id="last-name" placeholder="Фамилия"/>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div>-->
            <!--<label for="description">Въведете запитването си</label>-->
            <!--<div class="input-container">-->
                <!--<i class="fa fa-comment"></i>-->
                <!--<textarea id="description" rows="6" placeholder="Текст"></textarea>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div id="button-container">-->
            <!--<div class="input-container">-->
                <!--<input id="contact-submit" type="submit" value="Изпратете">-->
            <!--</div>-->
        <!--</div>-->
    <!--</form>-->
<!--</div>-->