<div id="about-us-container">
    <p>
       Нещо за нас
    </p>
</div>








<!--<div class="form-container">-->
    <!--<img src="images/sippingHoney.jpg" alt="honey">-->
    <!--<form>-->
        <!--<h2>Свържете се с нас</h2>-->
        <!--<div>-->
            <!--<label for="email">Въведете вашата поща</label>-->
            <!--<div class="input-container">-->
                <!--<i class="fa fa-envelope"></i>-->
                <!--<input type="email" id="email" placeholder="Email"/>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div>-->
            <!--<label for="name">Въведете вашето име</label>-->
            <!--<div class="input-container">-->
                <!--<i class="fa fa-user"></i>-->
                <!--<input type="text" id="name" placeholder="Първо име"/>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div>-->
            <!--<label for="last-name">Въведете вашата фамилия</label>-->
            <!--<div class="input-container">-->
                <!--<i class="fa fa-user"></i>-->
                <!--<input type="text" id="last-name" placeholder="Фамилия"/>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div>-->
            <!--<label for="description">Въведете запитването си</label>-->
            <!--<div class="input-container">-->
                <!--<i class="fa fa-comment"></i>-->
                <!--<textarea id="description" rows="6" placeholder="Текст"></textarea>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div id="button-container">-->
            <!--<div class="input-container">-->
                <!--<input id="contact-submit" type="submit" value="Изпратете">-->
            <!--</div>-->
        <!--</div>-->
    <!--</form>-->
<!--</div>-->